.container {
	width: 976px;
	margin: 0 auto;
	padding-top: 44px;
	position: relative;
}

.section_description {
	color: #777;
	font-family: DroidSerif;
	font-size: 16px;
	font-style: italic;
	margin-top: 19px;
}

.section_title {
	color: #222;
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 700;
	line-height: 75px;
	text-transform: uppercase;
	padding-top: 120px;
}

.button_title {
	color: white;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 25px;
}

.button {
	width: 240px;
	height: 65px;
	background-color: #fed136;
	border-radius: 2px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.copyright {
	color: #555;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}

h1 {
	color: white;
	font-family: Montserrat;
	font-size: 75px;
	font-weight: 700;
	text-transform: uppercase;
}

h2 {
	color: white;
	font-family: DroidSerif;
	font-size: 40px;
	font-style: italic;
}

h5 {
	color: #222;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 75px;
}

h6 {
	color: #777;
	font-family: RobotoSlab;
	font-size: 14px;
	font-weight: 400;
}
