.contact {
	background-color: #222;
}

#bg_img {
    position: absolute;
    margin: -560px 575px;
}

#contact_title {
	color: white;
}

.contact form {
	margin-top: -3px;
}

.col-6 {
	width: 48.5%;
    float: left;
    margin-right: 3%;
}

.col-6::after {
    content: '';
    overflow: hidden;
    display: table;
    clear: both;
}

#messageName, #messageEmail, #messageSubject {
	width: 100%;
    height: 46px;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 29px;
    color: #bbb;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 21px;
}

.message {
	width: 48.5%;
    float: right;
    resize: none;
    height: 196px;
    background-color: white;
    border-radius: 3px;
    color: #bbb;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    vertical-align: top;
    padding: 17px 21px 0 21px;
    margin-bottom: 29px;
}

.submit {
	text-align: center;
	padding-bottom: 115px;
}

@media screen and (max-width:768px) {
	
}

@media screen and (max-width:480px) {

}

@media screen and (max-width:320px) {
	.col-6 {
		width: 100%;
	}

	#messageName, #messageEmail, #messageSubject {
		width: 100%;
    	height: 40px;
    	margin-bottom: 20px;
   		font-size: 12px;
    	padding-left: 14px;
	}

	.message {
		width: 100%;
    	height: 110px;
    	color: #bbb;
    	font-size: 12px;
    	padding: 13px 14px 0 14px;
	}


	.button {
		width: 200px;
		height: 55px;
	}

	.button_title {
		padding: 16px;
	} 
 
}

