.home {
	padding-bottom: 160px;
	background-image: url("../pic/background.png");
	background-size: cover;
	background-position: 50% 50%;
	color: white;
} 

.home h2 {
	text-align: center;
	padding-top: 200px;
    padding-bottom: 20px;
	font-family: 'Droid Serif', serif;
	font-size: 40px;
	font-style: italic;
	font-weight: normal;
}

.home h1 {
	font-family:'Montserrat', sans-serif;
	font-size: 75px;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 40px;
}

.home header {
	padding-top: 44px;
}

.home .logo {
	width: 79px;
	float: left;
}

.home .menu {
	float: right;
	font-family:'Montserrat', sans-serif;
	font-size: 21px;
	font-weight: 600;
	line-height: 30px;
}

.home .menu__item {
	color: white;
	text-decoration: none;
	margin-left: 40px;
	font-family:'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.home .menu__item:hover {
	color:#fed136;
}

#menu_button,
label[for="menu_button"] {
	display: none;
}


/*@media*/
@media screen and (max-width:768px) {
	
	#menu_button:checked + .menu {
		display: block;
	}

	label[for="menu_button"] {
		display: block;
		cursor: pointer;
	}

	.home .menu__item {
		line-height: 35px;
		margin-left: 0;
		display: block;
	}

	.home .menu {
		left: 65px;
		top: 85px;
		display: none;
		position: absolute;
	}

	.home .logo {
		float: none;
		display: block;
	}

	.home h2 {
		padding-top: 230px;
	}

	.home label[for="menu_button"]::after {
		content: '';
		position: absolute;
		top: 96px;
		left: 20px;
		width: 30px;
		height: 20px;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
	}

	.home label[for="menu_button"]::before {
		content: '';
		position: absolute;
		top: 107px;
		left: 20px;
		width: 30px;
		height: 20px;
		border-top: 2px solid #fff;
	}
	
}

@media screen and (max-width:480px) {
	.home h1 {
		font-size: 55px;
	}

	.home h2 {
		font-size: 32px;
	}

}

@media screen and (max-width:320px) {
	.home h1 {
		font-size: 42px;
	}

	.home h2 {
		font-size: 25px;
	}

	.button {
		width: 200px;
		height: 55px;
	}

	.button_title {
		padding: 16px;
	} 
}








