
.home {
	padding: 44px 0 161px 0;
	background-image: url("../img/background.png");
	background-size: cover;
	color: white;
}

/*.home .container {
	max-width: 940px;
	margin: 0 auto;
	padding-top: 44px;
}*/

.home h2 {
	text-align: center;
	padding-top: 205px;
	padding-bottom: 52px;
	font-family: DroidSerif;
	font-size: 40px;
	font-style: italic;
	line-height: 28px;
}

.home h1 {
	font-family: Montserrat;
	font-size: 75px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 60px;
	line-height: 55px;
}

.clearfix::after {
	content: '';
	overflow: hidden;
	display: table;
	clear: both;
}

.home .logo {
	float: left;
}

.home .menu {
	float: right;
	font-family: "Montserrat";
	font-weight: 600;
	line-height: 30px;
}

.home .menu__item {
	color: white;
	text-decoration: none;
	margin-left: 40px;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.home .menu__item:hover {
	color:#fed136;
}

.home .button {
	width: 240px;
	height: 65px;
	background-color: #fed136;
	border-radius: 2px;
	display: block;
	margin: 0 auto;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}

.home .button_title {
	color: white;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	text-align:	center;
	display: block;
	line-height: 65px;
	margin: 0;
	padding: 0;
}

.home .button:hover {
	background: black;
}

.technologies {
	text-align: center;
	line-height: 164px;
}

.technologies img {
	margin-right: 40px;
	vertical-align: middle;
}




