.portfolio {
	background-color: #f7f7f7;
}

.col-4 {
	width: 290px;
	height: 393px;
	background-color: white;
	text-align: center;
    margin: 0 17px 50px;
    float: left;
}

.row {
	margin: 0 -16px;
	padding-bottom: 70px;
}

.clearfix::after {
    content: '';
    overflow: hidden;
    display: table;
    clear: both
}
	
#tag {
	color: #737373;
	font-family: 'Droid Serif', serif;
	font-size: 14px;
	font-style: italic;
	margin: 0;
	padding-bottom: 27px;
}


